{% load static %}

<select name="{{ widget.name }}" id="{{ widget.name }}" class="selectpicker" data-live-search="true"
        data-display="static" data-size="6" data-header="Выберите район" data-container="body" style="width:auto;">
    {% for name, value in widget.attrs.items %}{% if value is not False %}
        {{ name }}{% if value is not True %}="{{ value|stringformat:'s' }}"{% endif %}{% endif %}
    {% endfor %}

    {% for group_name, group_choices, group_index in widget.optgroups %}
        {% if group_name %}
            <optgroup label="{{ group_name }}">
        {% endif %}
    {% for option in group_choices %}
        {% include option.template_name with widget=option %}
    {% endfor %}
    {% if group_name %}
        </optgroup>
    {% endif %}
    {% endfor %}
</select>
